# user specific project files 
*.pro.user

#autosave files
*.autosave

# swap and temp files
*~
*.swp

# generated documenation
doc/developer/html/*
doc/developer/latex/*

# qt.tag file
doc/developer/qt.tag

# all buildfiles
mocs/
objs/
uics/
rccs/
# for executables in bin/-folder (e.g. tests)
bin/
build/
# the compiled static plugins
plugins_static/
*.so*
Makefile

#generated binary
limepipes
