# user specific project files 
*.user
*.user.*

#autosave files
*.autosave

# swap and temp files
*~
*.swp
._*
.DS_Store

# generated documenation
doc/developer/html/*
doc/developer/latex/*

# qt.tag file
doc/developer/qt.tag

# tag files
tags
*.taghl

# vim specific
.vimprj/
.ycm_extra_conf.py
.ycm_extra_conf.pyc

# valgrind suppress file
*.supp

# all buildfiles
mocs/
objs/
uics/
rccs/
# for executables in bin/-folder (e.g. tests)
bin/
build/
# the compiled static plugins
plugins_static/
plugins_bin/
*.so*
Makefile

#generated binary
limepipes
